body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}



.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.texto{
    position: absolute;
    top: 200px;
    width: 100%;
    font-size:medium;
    text-align: center;
    color: white;
    padding: 10px;
    background: rgba(0,0,0,0.5);
}


    
 





.fade{
    opacity:1;
    padding: 20px;
    border-radius:50%;
    position: absolute;
    text-align: center;
    
    
}
.fade:hover
{
    opacity:0.75;
    border-radius:50%;
    box-shadow:
        1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

button{
    padding: 20px;
    border-radius:50%;
    color: white;
    background-color: black;
    top: 70%;
    width: 100%
}