@media only screen and (max-width: 700px){   
    #texto_foguete #foguete-decolando img{
        display: none;
    }
    #img-foguete_falhando img{
        display: none;
    }

    
}
@media only screen and (max-width: 1350px){
    #cf {
        display: none;
      }

    #cf img {
        display: none;
    }
}


body {
    margin: 0;
    background-color: rgb(238, 228, 228);
    background-image: url(images/Astronaut-Desktop-Image.jpg);
    background-position:auto 100%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align:justify;
}
/*Navegador - inicio*/
ul{
    list-style-type: none;
    margin-left: auto;
    margin-top: 40px;
    padding: 0;
    max-width: 150px;
    width: 15%;
    background-color: #ffffff;
    border-radius: 10%;
    max-height: 510px;
    height: 80%;
    position: fixed;
    overflow: auto;
}

li a, .conteudo-btn {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover, .conteudo:hover .conteudo-btn{
    color: red;
}

li.conteudo{
    display: inline;
}

.aba-conteudo{
    display: none;
    position: absolute;
    background-color: green;
    min-width: 140px;
    z-index: 1;
}

.aba-conteudo a{
    color: pink;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.aba-conteudo a:hover{background-color: blue;}

.conteudo:hover .aba-conteudo{
    display:block;
}
/*NAvegador - fim*/

div{
    border: 1px solid #ffffff;
}


.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    opacity: 0.5;
    width: 80%;
    max-height: auto;
    border: 3px solid green;
    margin-left: 220px;
    margin-top: 100px;
    
}

.apresentacao1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 98%;
    height: auto;
}

#minha-foto{
    text-align:center;
    padding: 5px;
    height: auto;
}

#minha-foto img{
    border: 5px solid rgba(18, 18, 189, 0.801);
    border-radius: 40%;
    max-width:230px;
    max-height:230px;
    width: auto;
    height: auto;
}



#texto-foto{
    text-align: left;
    padding: 5px;
    width:auto;
    height: auto;

}

.apresentacao2{
    padding: 10px;
    text-align: center;
    width: 98%;
    height: 50%;
}




.textos{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    opacity: 0.5;
    width: 75%;
    height: auto;
    margin-left: 220px;
    margin-top: 0;
    padding: 10px;
}

.topicos{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.topicos > #Foto-quem_perdoa{text-align: center;}

#Foto-quem_perdoa img{    
    max-height: 500px;
    max-width: 300px ;
    width: auto;
    height: auto;
}

.topicos > #maçã{text-align: center;}

#maçã img{
    max-height: 500px;
    max-width: 300px ;
    width: auto;
    height: auto;
}

#texto_foguete{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#texto_foguete #foguete-decolando{
    background-color: black;
    
}


#texto_foguete #foguete-decolando img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
    animation-name: decolagem;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;   
}





@keyframes decolagem {
    0% {transform:rotate(0);left: 0px;}
    100% {transform:rotate(-60deg);left: 500px;}
}

#texto-imagem{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.titulo-topico{
    text-align: left;
    padding-top: 5%;
}


#img-foguete_falhando{
    background-color: black;
    width: 40%;
}

#img-foguete_falhando img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.textos > #cf{
    text-align: center;
}

#cf {
    width:70%;
    height:350px;
    position:relative;
    overflow:hidden;
    background-color: black;
  }


#cf img {
    position:absolute;
    top:auto; left:auto;
    max-width:400px;
    max-height: 400px;
    height: auto;
    width: auto;
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 42s;
}
  
@keyframes cfFadeInOut {
    0% {opacity:1;}
    14% {opacity:1;}
    17% {opacity:0;}
    98% {opacity:0;}
    100% {opacity:1;}
}
  
#cf img:nth-of-type(1) {
    animation-delay: 35s;

}

#cf img:nth-of-type(2) {
    animation-delay: 28s;
}
#cf img:nth-of-type(3) {
    animation-delay: 21s;
}
#cf img:nth-of-type(4) {
    animation-delay: 14s;
}
#cf img:nth-of-type(5) {
    animation-delay: 7s;
}
#cf img:nth-of-type(6) {
    animation-delay: 0s;
}

#div_gif{ 
    width: 100%;
    text-align: center;  
}
#dif_gif #gif-quase_faleci{
    width: 100%;
    height: auto;
}




